* {
    margin: 0;
    padding: 0;
}
.comics-padding {
    padding: 0 25px;
    @media (max-width: 768px){
        padding: 0 50px;
    }
    @media (max-width: 768px){
        padding: 0 18px;
    }
}
.comics-posts {
    width: 60vw;
    margin: 0 auto;
    @media (max-width: 768px){
        width: 80vw;
        
    }
    &-img {
        & img:first-child {
            margin: 15px 0 0 0;
        }
    }
    &_title {
        font-size: 32px;
        line-height: 40px;
        margin-top: 30px;
        font-weight: 700;
    }
   &_main {

        & p {
            line-height: 32px;
            font-size: 20px;
            margin-top: 20px;
            @media (max-width: 768px){
                font-size: 18px;
            }
        }
        & img {
            width: 100%;
            margin-top: 40px;
        }
   }
   & nav {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    & a {
        text-decoration: none;
        font-size: 20px;
        color: white;
    }
   }
   
}
.comics-svg {
    width: 40px;
    height: 40px;
}

// .comics-svg * {
//     color: tomato;
//     fill: tomato;
//     stroke: tomato;
//     width: 25px;
//     height: 25px;
// }
